<table>
    <tr>
        <td>Name</td>
        <td>{{ accommodation.name }}</td>
    </tr>
    <tr>
        <td>Description</td>
        <td>{{ accommodation.description }}</td>
    </tr>
    <tr>
        <td>Address</td>
        <td>{{ accommodation.address }}</td>
    </tr>
    <tr>
        <td>City</td>
        <td>{{ accommodation.city }}</td>
    </tr>
    <tr>
        <td>Zip Code</td>
        <td>{{ accommodation.zip_code }}</td>
    </tr>
    <tr>
        <td>Country</td>
        <td>{{ accommodation.country }}</td>
    </tr>
    <tr>
        <td>Capacity</td>
        <td>{{ accommodation.capacity }}</td>
    </tr>
    <tr>
        <td>Bathrooms</td>
        <td>{{ accommodation.bathrooms }}</td>
    </tr>
    <tr>
        <td>Rooms</td>
        <td>{{ accommodation.rooms }}</td>
    </tr>
    <tr>
        <td>Price</td>
        <td>{{ accommodation.price }}</td>
    </tr>
</table>