{% extends "base.html" %}
{% block head_title %}Room Broker{% endblock %}
{% block content %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Witaj w Room Broker!</h1>
        <p>Room Broker to najwiekszy Polski serwis pośredniczący w najmie nieruchomości! </p>
        <p><a href="/accommodations/" class="btn btn-primary btn-lg" role="button">Przeglądaj oferty &raquo;</a></p>
      </div>
    </div>

{% endblock %}