<configuration>
    <!-- Properties are set below, alternatively they can be set as system 
         properties or passed as command line arguments -->


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                <!--%date{ISO8601} %-5level %logger{36} %X{sourceThread} - %msg%n-->
                <!--%-5level %logger{36} %X{akkaSource} %X{sourceThread} - %msg%n-->
                %msg%n
            </pattern>
        </encoder>
    </appender>


    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>